{% extends "base.html" %}

{% block head %}

    <title>A Mere Zebra Scheduler</title>
    
{% endblock %}

{% block content %}

    <h1>About Us</h1>

    <p>"A Mere Zebra Scheduler" was created by the Meerkat Zebras - a group of the four coolest people you will ever have the chance to not meet.

    <h4>Chris Anderson</h4>
    <!-- <img src="image_name.jpg" alt"Image cannot be displayed" style="width:300px;height:300px;"> -->
    <p> The first member of the Meerkat Zebras is Chris. Chris enjoys lots of things I'm sure, but I have no idea what they are. </p>

    <h4>Karla McDaniel</h4>
    <p>Karla's favorite activities are eating cake until she falls into a sugar coma and not working out. Too bad these things haven't worked out well for her since she conveniently found herself on the UM rowing team...so now in her free time, she mostly sleeps. And does EECS projects.</p>

    <h4>Marissa Newblatt</h4>
    <p>Marissa smells a little funny, but makes up for it with her large personality.</p>

    <h4>Jennifer Ozkan</h4>
    <p>Jenn is the bomb dot com. She makes websites in her free time - examples being the well-known Google search engine and social media site Facebook. Just kidding, but still pretty cool eh?</p>


{% endblock %}

