{% extends "base.html" %}

{% block content %}

    <h1>The details for the selected course are:</h1>

    <p>{{ course_description }}</p>
    <table>
        <thead>
            <tr>
                <th>Section Number</th>
                <th>Enrollment Status</th>
            </tr>
        </thead>
        <tbody>
            {% for section in course_sections %}
                <tr>
                    <td>
                        <a href="{{ section['SectionNumber'] }}/">
                            {{ section['SectionNumber'] }}
                        </a>
                    </td>
                    <td>{{ section['EnrollmentStatus'] }}</td>
                    <td>
                        {{ section['EnrollmentTotal'] }}
                    </td>

            </tr>
    {% endfor %}
                    
                </tr>
        </tbody>

        <!-- need to add more info on this page -->

    </table>

{% endblock %}
