{% extends "base.html" %}

{% block head %}

    <title>Courses</title>

{% endblock %}

{% block content %}

    <div class="breadcrumbs">
        <a class="item" href="/{{ selected_term }}/">{{ selected_term }}</a> &raquo; 
        <a class="item" href="/{{ selected_term }}/{{ selected_school }}/">{{ selected_school }}</a> &raquo;
        <span class="item">{{ selected_subject }}</span>
    </div>

    <h1> The courses returned for the selected subject are:</h1>

    <table>
        <tr>
            <th>Course Number</th>
            <th>Course Title</th>
        </tr>
        {% for course in courses %}
        <tr>    
            <td>
                <a href="{{ course['CatalogNumber'] }}/">
                    {{ course['CatalogNumber'] }}
                </a>
            </td>
            <td>
                <a href="{{ course['CatalogNumber'] }}/">
                    {{ course['CourseTitle'] }}
                </a>
            </td>
        </tr>    
        {% endfor %}
        
    </table>

{% endblock %}
