{% extends "base.html" %}

{% block head %}

    <title>Courses</title>

{% endblock %}

{% block content %}

    <h1> The courses returned for the selected subject are:</h1>

    <table>
        <tr>
            <th>Course Title</th>
            <th>Course Number</th>
        </tr>
        {% for course in courses %}
        <tr>    
            <td>
                <a href="{{ course['CatalogNumber'] }}/">
                    {{ course['CourseTitle'] }}
                </a>
            </td>
            <td>
                <a href="{{ course['CatalogNumber'] }}/">
                    {{ course['CatalogNumber'] }}
                </a>
            </td>
        </tr>    
        {% endfor %}
        
    </table>

    <!-- TODO: add the following values to the courses page:
                 catalog number, course description, section type (LEC, DIS, etc)
                 and number (001, 011, etc) -->

{% endblock %}
