{% extends "base.html" %}

{% block content %}

    <h1>The details for the selected course are:</h1>

    <p>{{ course_description }}</p>
    <table>
        <thead>
            <tr>
                <th>Section Number</th>
                <th>Meeting Times</th>
                <th>Enrollment Status</th>
            </tr>
        </thead>
        <tbody>
    {% for section in course_sections %}
            <tr>
                <td>{{ section['SectionNumber'] }}</td>
                <td>{{ section['Meetings'][0]['Times'] }}</td>
                <td>{{ section['EnrollmentStatus'] }}</td>
                <!-- add data from get_section_details-->
                <!-- add data from get_meetings -->
                <!-- add data from get_textbooks -->
            </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock %}
