{% extends "base.html" %}

{% block head %}

    <title>A Mere Zebra Scheduler</title>
    
{% endblock %}

{% block content %}

    <h1>The Root of All Courses</h1>
    <h2>Select a term</h2>

    <div class="terms">
    {% for term in terms %}
        <a class="term" href="/{{ term['TermCode'] }}/"><span>{{ term['TermDescr'] }}</span></a>
    {% endfor %}
        <div class="clear"></div>
    </div>
    
    
    <script type="text/javascript">
        $(".term:contains('Fall')").addClass("fall");
        $(".term:contains('Summer')").addClass("summer");
        $(".term:contains('Spring')").addClass("spring");
        $(".term:contains('Winter')").addClass("winter");
    </script>

{% endblock %}