{% extends "base.html" %}

{% block head %}

    <title>Schools</title>

{% endblock %}

{% block content %}

    <div class="breadcrumbs">
        <a class="item" href="/">Home</a> &raquo;
        <span class="item {{ selected_term }}">{{ selected_term }}</span>
    </div>
    
    <div class="pageWrap">

        <div class="sidebar">
            <h3>Schools:</h3>
            <ul class="subnav">
            {% for school in schools %}
                <li>
                    <a href="{{ school['SchoolCode'] }}/">
                        {{ school['SchoolDescr'] }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div><!-- /.sidebar -->
        
        <div class="content">
            <h1>Select a school to your left.</h1>
        </div><!-- /.content -->
    
    </div><!-- .pageWrap -->

{% endblock %}