{% extends "base.html" %}

{% block head %}

    <title>Section Details</title>

{% endblock %}

{% block content %}

    <div class="courseWrap">
        <div class="courseNav">
            <h2>Courses</h2>
            <table>
                {% for course in courses %}
                <tr>  
                    <td>
                        <a href="../../{{ course['CatalogNumber'] }}/">
                            {{ course['CourseTitle'] }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div><!-- /.courseNav -->
        <div class="courseDetails">
            <h1>The details for the selected section are:</h1>
            
            <h3> {{ section_details['CourseDescr'] }} </h3>
            <table>
                <thead>
                    <tr>
                        <th>Instructor Name</th>
                        <th>Meeting Number</th>
                        <th>Location</th>
                        <th>Times</th>
                        <th>Days</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- do we need a for loop? or is there always only one meeting?? -->
                    {% for meeting in section_meetings %}
                        <tr>
                            <td>
                                {{ meeting['InstructorName'] }}
                            </td>
                            <td>
                                {{ meeting['MeetingNumber'] }}
                            </td>
                            <td>
                                {{ meeting['Location'] }}
                            </td>
                            <td>
                                {{ meeting['Times'] }}
                            </td>
                            <td>
                                {{ meeting['Days'] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <table>
                <thead>    
                    <tr>
                        <th>Seats Filled</th>
                        <th>Total Seats</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- dont know how we should format enrollment numbers
                            in the case that there are multiple meetings, we do 
                            not seem to have the enrollment for each meeting --> 
                        <tr>
                            <td>
                                {{ section_details['EnrollmentTotal'] }}
                            </td>
                            <td>
                                {{ section_details['EnrollmentCapacity'] }}
                            </td>
                        </tr>
                </tbody>    
            </table>
            {% if section_location == 'ARR' or section_location == 'TBA' %}
                Location to be announced
            {% else %}
                {% set section_location = section_location.split(' ', 1) %}
                {% set building_name = dict.get(section_location[1], None) %}

            Google Maps Embed API - need to dynamically insert the name of the building the course is held in

            <iframe
              width="600"
              height="450"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCoSqzSoUuwDTbtrZq25mk0Mj_rDF_5N7k&q={{building_name}},Ann+Arbor+MI" allowfullscreen>
            </iframe>
            
            {% endif %}
        </div><!--/.courseDetails -->    
    </div><!-- /.courseWrap -->

{% endblock %}
