{% extends "base.html" %}

{% block head %}

    <title>Subjects</title>

{% endblock %}

{% block content %}

    <div class="breadcrumbs">
        <a class="item" href="/{{selected_term}}/">{{selected_term}}</a> &raquo; 
        <span class="item">{{ selected_school }}</span>
    </div>

    <div class="pageWrap">

        <div class="sidebar">
            <h3>Subjects</h3>
            <ul class="subnav">
            {% for subject in subjects %}
                <li>
                    <a href="{{ subject['SubjectCode'] }}/">{{ subject['SubjectDescr'] }}</a>
                </li>
            {% endfor %}
            </ul>
        </div><!-- /.sidebar -->
        
        <div class="content">
            <h1>Select a subject.</h1>
        </div>
        
    </div><!--/.pageWrap -->

{% endblock %}
