{% extends "base.html" %}

{% block head %}

    <title>Testing google maps API</title>

{% endblock %}

{% block content %}

  {% for abbrev,name in building_locations.iteritems() %}

    {% if abbrev == 'ARR' or abbrev == 'TBA' %}
        Location to be announced

    {% else %}
    <!-- get building name, city and/or address to display a point on a map -->
    
    {{ name }}
    <br><br>
    
    <!-- dynamically insert data into google maps embed API -->
    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCoSqzSoUuwDTbtrZq25mk0Mj_rDF_5N7k&q={{name}},Ann+Arbor+MI" allowfullscreen>
    </iframe>
    
    <br><br>

    {% endif %}

  {% endfor %}

{% endblock %}
